
<section class="card">
 <p></p>
    <header>{{user_id}}-{{title}}</header>

    <div class="card-body">
      <p>By: {{post_url}}</p>
      {{username}} {{comment_text}}
      {{post_content}} Adding more content
    </div>
  </a>
</section>
