<article class="post">
  <div class="title">
    
    
<div>
        <img src="/images/property/{{property_type}}.png" width="50" height="50" alt="{{property_type}}">
    <p>   {{property_type}}</p>
    </div>
    <div>
        <img src="/images/loans/{{loan_type}}.png" width="50" height="50" alt="{{loan_type}}">
    <p>   {{loan_type}}</p>
    </div>
    <div>
        <img src="/images/down-payment/{{down_payment}}.png" width="50" height="50" alt="{{down_payment}}">
    <p>   {{down_payment}}</p>
    </div>
    <di>
        <img src="/images/credit/{{credit_score}}.png" width="50" height="50" alt="{{credit_score}}">

        <p>   {{credit_score}}</p>
  </di>
  <a href="{{ post_url}}" target="_blank">{{title}}</a>
    <p>   {{content}}</p>
      <p>   {{employment}}</p>
    <p>   {{condition}}</p>
    <span>{{ post_url}}</span>
  </div>
  <div class="meta">
    By {{user.username}} on {{format_date created_at}}
   
    |
   
  
  </div>
</article>